<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
        <a href="/services">Other Services</a>
    </div><br><br><br><br>
    <div class="edit">
        <div class="edit-profile-container">
            <h2>Edit Profile</h2>
            <form action="/edit-profile" method="POST">
                <input type="text" name="name" placeholder="Full Name" value="{{ user.name }}" required><br><br>
                <input type="number" name="age" placeholder="Age" value="{{ user.age }}" required><br><br>
                <input type="tel" name="phone" placeholder="Phone Number" value="{{ user.phone }}" required><br><br>
                <input type="email" name="email" placeholder="Email" value="{{ user.email }}" readonly
                    class="email"><br><br>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>

   
</body>

</html>